/* Universal Styles */

html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Julius Sans One", sans-serif;
}

input:focus {
    outline: none;
}

/* Reusable Component - Image Container */

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: white;
    width: 100%;
}

.image-container img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 21rem;
    height: 21rem;
    object-fit: cover;
}

/* App Styles */

.App {
    font-family: "Julius Sans One", sans-serif;
}

.error {
    text-align: center;
}

h1 {
    padding: 0.66rem 0;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.8rem;
    color: #fff;
}
.background-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/rosemary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.logo {
    position: absolute;
    left: 0;
}
.logo img {
    height: 60px;
    width: 60px;
}
@media only screen and (max-width: 560px) {
    html {
        font-size: 15px;
    }
    .background-image {
        background-position: 50% 0;
        background-position-y: -50px;
    }
    .logo img {
        height: 50px;
        width: 50px;
    }
}

@media only screen and (min-width: 750px) {
    .background-image {
        background-position: 50% 0;
        background-position-y: -450px;
    }
}

@media only screen and (min-width: 1050px) {
    .background-image {
        background-position: 50% 0;
        background-position-y: -950px;
    }
}
@media only screen and (min-width: 1550px) {
    .background-image {
        background-position: 50% 0;
        background-position-y: -1350px;
    }
}
/* @media (orientation: portrait) {
    .logo img {
        height: 100px;
        width: 100px;
    }
    .image-container img {
        width: 450px;
        object-fit: cover;
    }
    .background-image {
        background-image: url("/bluebig.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
} */
