.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.log a {
    color: black;
    text-shadow: none;
    margin: 0 auto;
}
.log h4 {
    margin: 1rem 1rem;
}
.login-button {
    text-align: center;
}
