.nav-container {
    position: absolute;
    width: 100vw;
    background-color: black;
    color:ghostwhite;
    display: flex;
    flex-flow: row-reverse wrap;
    text-decoration: none;
    justify-content: center;
    z-index: 2;
    height: 50px;
}

.logo {
   position: absolute;
   left:0;
}
.logo img {
    height: 80px;
    width: 80px;
}
.nav-links li, a {
    text-decoration: none;
    color: ghostwhite;
    list-style: none;
    display: inline-flex;
    margin-left: 3rem;
    margin-right: .3rem;
}

@media only screen and (max-width: 560px){
    .nav-links li, a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 800;
        margin-left: .7rem;
        margin-right: .3rem;
    }
    .nav-container{
        background-color: white;
    }
}