.nav-container {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: black;
    z-index: 1;
    height: 60px;
}
.nav-modal-content {
    position: absolute;
    display: block;
    height: 100vh;
    width: 40vw;
    background-color: white;
    right: 0;
    animation: slide-in 2s;
}

@keyframes slide-in {
    from {
        width: 0vw;
    }
    to {
        width: 40vw;
    }
}

.close-modal {
    position: absolute;
    display: block;
    right: 2rem;
    top: 1rem;
    color: black;
    cursor: pointer;
}

.burger-menu {
    display: flex;
    justify-content: center;
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    font-weight: bold;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 0;
}

.nav-links-container {
    margin-top: 8rem;
    height: 100%;
}
.nav-links-container ul {
    margin-left: 0.5rem;
}

.nav-link,
.nav-logout {
    list-style-position: outside;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem;
    color: black;
}
.nav-logout {
    margin-top: 30rem;
}

.nav-delete {
    margin-top: 2rem;
}

@media only screen and (max-width: 560px) {
    .nav-link,
    .nav-logout {
        list-style-position: outside;
        text-decoration: none;
        font-size: 1rem;
        padding-top: 0.7rem;
        text-orientation: start;
    }
}

@media only screen and (max-width: 800px) {
    .nav-link,
    .nav-logout {
        list-style-position: outside;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .burger-menu {
        color: black;
        height: 50px;
        width: 50px;
    }
    .nav-container {
        background-color: white;
        height: 50px;
    }
    .nav-modal-content {
        width: 90vw;
    }

    @keyframes slide-in {
        from {
            width: 0vw;
        }
        to {
            width: 90vw;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .nav-link,
    .nav-logout {
        list-style-position: outside;
        text-decoration: none;
        font-size: 1.5rem;
    }
    .nav-modal-content {
        width: 60vw;
    }
    @keyframes slide-in {
        from {
            width: 0vw;
        }
        to {
            width: 60vw;
        }
    }
}
