.reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reg input {
    margin: 0.3rem 1rem;
    width: 21rem;
    padding: 0.66rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.77rem;
    font-weight: 500;
}
.reg-button {
    margin: 1.5rem;
}
.register h1 {
    font-size: 6rem;
    margin: 2rem;
}
@media only screen and (max-width: 560px) {
    .reg {
        flex-direction: column;
    }
    .register h1 {
        font-size: 4rem;
        margin: 1rem;
    }
}
