.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0rem 0.5rem 2.3rem 0.5rem;
    color: black;
}

.restaurant li {
    list-style: circle;
    list-style-position: outside;
}

.restaurant h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.restaurant-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurant-information p {
    font-size: 0.88rem;
    font-weight: 300;
    line-height: 1rem;
}

.restaurant-address {
    display: flex;
    justify-content: space-between;
}
.restaurant-address li {
    display: flex;
    list-style-type: none;
}
.restaurant-address p {
    display: flex;
    flex-direction: column;
}

/* ----- specials for recipe */

.recipe-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-information p {
    display: flex;

    font-size: 0.88rem;
    font-weight: 300;
    line-height: 1rem;
}
.recipe-information a,
li {
    color: black;

    list-style-type: none;
}
/* @media (orientation: portrait) {
    .restaurant {
        width: 80vw;
        font-size: 1.7rem;
    }
    .restaurant h2 {
        margin-bottom: 0.5rem;
        font-size: 2.3rem;
        font-weight: 600;
    }
    .restaurant-information p {
        font-size: 1.7rem;
        font-weight: 300;
    }

    .recipe-information p {
        font-size: 1.7rem;
    }
} */
