.button-fav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.button-fav button {
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
}
.button-save {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-save button {
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
}
.fav-deleted {
    color: rgb(56, 56, 56);
}
@media (orientattion: portrait) {
    .button-save {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .save {
        width: 18rem !important;
        height: 3rem !important;
        font-size: 1.8rem !important;
        padding: 0.2rem !important;
    }
}
